{if count($list->getItems())}
    <table class="admList">
        <tr>
            <th>Управление</th>
            <th>Заголовок</th>
            {if 'manual' == $settings.blockMode}<th style="white-space: nowrap">В блоке</th>{/if}
            <th>Опубликовано</th>
            <th>Краткое описание</th>
        </tr>
        {foreach $list->getItems() item}
        <tr>
            <td class="ctrl">
                {if $settings.listSortMode == 'position'}
                {$list->getControls($item, 'edit', 'toggle', 'delete', 'ordering')}
                {else}
                {$list->getControls($item, 'edit', 'toggle', 'delete')}
                {/if}
            </td>
            <td>{$item->caption}</td>
            {if 'manual' == $settings.blockMode}<td>{if $item->block}да{/if}</td>{/if}
            <td style="white-space: nowrap">{$item->posted->format('d.m.y H:i:s')}</td>
            <td>{$item->preview}</td>
        </tr>
        {/foreach}
        <tr>
            <td colspan="4">
                {$list->getPagination()->render()}
            </td>
        </tr>
    </table>
{/if}